<%= render "govuk_publishing_components/components/heading", {
  text: "GOV.UK Accounts Prototype",
  heading_level: 1,
  margin_bottom: 6
} %>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="/register" class="govuk-link">Register</a></li>
  <li><a href="/manage" class="govuk-link">Manage account</a></li>
  <li><a href="/reset-password" class="govuk-link">Reset password</a></li>
  <li><a href="/new-password" class="govuk-link">New password</a></li>
</ul>
